*{box-sizing: border-box;}
header{    
    background-color: darkgreen;
    padding: 10px;
}
footer{
    background-color: darkseagreen;
    padding: 3pt;
}
main{
    margin: 10px;
}
body{
    background-color: aquamarine;    
    margin: 0px;
}
#h1mat{border-style: none; color: black;background-color: white;text-shadow: none;}  
h1{
    color: darkblue;
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: solid;
    border-width: 3px;
    border-color: blueviolet;
    text-shadow: 5px 3px 5px rgb(199, 157, 101),-5px -3px 5px white;     
} 
.box{
    background-color: aliceblue;
    max-height: 300px;
    height: auto;
    
    padding: 3px;
    margin: 2px;
    border: 2px solid;
    overflow: auto;
    width: 97%;
}
#box1{
    color: black;
    max-width: 500pt;
}
#box2{    
    color: blue;
    max-width: max-content;
}  
#box3{   
    color: rgb(107, 10, 10);
    max-width: max-content;    
}
#boxIsi1{
    background-color: rgb(126, 231, 126);
    width: fit-content;  
}
#boxIsi2{
    background-color: rgb(244, 247, 248);
    width: fit-content;
}

a{text-decoration: none;}
header a:link{
    color: blue;
    font-style: initial;    
}
header a:active{background-color: brown;}
header a:visited{font-style: oblique;}
header a:hover{
    background-color:#52f132;
    color: black;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    line-height: 30px; 
    border-radius: 5px;  
    padding: 5px 10px;
    box-shadow: 3px 3px 3px;
} 
header a:not(:hover){background-color:#4fcf6b;}
.pagination{
    text-align: center;
}
.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}
.pagination a.active{
    background-color: rgb(60, 173, 60);
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-color: grey;
}



